services:
  backend:
    build:
      context: ./backend
      dockerfile: backend.Dockerfile
    ports:
      - "3000:3000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: frontend.Dockerfile
      args:
        BACKEND_URL: http://backend:3000
    ports:
      - "8080:8080"
    environment:
      - BACKEND_URL=http://backend:3000
    depends_on:
      - backend
    restart: unless-stopped
